*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f1f5f9;
}

.container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:250px;
    background:#0f172a;
    color:white;
    padding:20px;
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo i{
    font-size:40px;
}

.logo h2{
    margin-top:10px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:14px;
    margin:8px 0;
    border-radius:10px;
    cursor:pointer;
}

.sidebar ul li:hover,
.sidebar ul li.active{
    background:#1e293b;
}

.sidebar ul li i{
    margin-right:10px;
}

/* Main */

.main-content{
    flex:1;
    padding:40px;
}

.profile-card{

    background:white;

    width:550px;

    padding:30px;

    border-radius:20px;

    box-shadow:
            0 5px 15px
            rgba(0,0,0,0.08);
}

.profile-header{
    text-align:center;
    margin-bottom:30px;
}

.profile-header i{
    font-size:90px;
    color:#2563eb;
}

.profile-header h2{
    margin-top:10px;
}

.profile-form{
    display:flex;
    flex-direction:column;
}

.profile-form label{
    margin-top:12px;
    margin-bottom:6px;
    font-weight:600;
}

.profile-form input{
    padding:12px;
    border:1px solid #cbd5e1;
    border-radius:10px;
    font-size:15px;
}

.profile-form h3{
    margin:20px 0 10px;
}

.role-badge{
    display:inline-block;
    width:fit-content;
    padding:8px 18px;
    background:#dbeafe;
    color:#1d4ed8;
    border-radius:30px;
    font-weight:600;
    margin-top:5px;
}

.profile-form button{
    margin-top:25px;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:15px;
}

.profile-form button:hover{
    background:#1d4ed8;
}
.password-btn{

    margin-top:20px;

    width:220px;

    padding:12px;

    background:#0f172a;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-weight:600;
}

.password-btn:hover{

    background:#1e293b;
}

.password-section{

    display:none;

    margin-top:20px;

    padding:20px;

    background:#f8fafc;

    border-radius:12px;

    border:1px solid #e2e8f0;
}

.password-field{

    position:relative;

    margin-bottom:15px;
}

.password-field input{

    width:100%;

    padding:12px 45px 12px 12px;
}

.password-field i{

    position:absolute;

    right:15px;

    top:50%;

    transform:translateY(-50%);

    cursor:pointer;

    color:#64748b;
}

.password-field i:hover{

    color:#2563eb;
}